/* General reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) { html { zoom: 1.5; } }
@media (min-width: 2560px) { html { zoom: 1.7; } }
@media (min-width: 3860px) { html { zoom: 2.5; } }

.swiper {
  width: 100%;
  height: 46vh;
  padding: 50px 0;
  margin-top: 3vh;
}

.swiper-slide {
  width: 300px;
  height: 20vh !important;
  margin: 40px 20px 0 0;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  font-size: 0.7rem !important;
  
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right{
  border-radius: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  transform: scale(1.7) !important;
  z-index: 10;
}

.swiper-slide .event-info {
  background: transparent;
  border-radius: 20px;
  padding: 2px 20px;
  text-align: center;
  color: white;
  width: 60%;
}

.swiper-slide .button-container {
  display: flex;
  justify-content: space-evenly;
  width: 120px;
  margin: 8px;
}

.button-container button {
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.button-container .register-button {
  background-color: white;
  color: black;
}

.button-container .learn-more-button {
  background: rgba(255, 255, 255, 0.15);
  
}
