*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 46vh;
  margin-top: 3vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 20vh!important;
  margin: 40px 20px 0 0 !important;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));

  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);

  /* box-shadow: 0 8px 32px 1 rgba(0, 0, 0, 0.37); */
  font-size: 0.7rem !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  transform: scale(1.7) !important; 
  z-index: 10;          
  
}

